/* Quitando estilos predeterminados */
body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a{
    text-decoration: none;
    cursor: pointer;
  }
  
  /* estilos para el header */
  header{
    width: 100%;
    height: 60px;
  }
  
  header nav{
    display: flex;
    justify-content: flex-end;
  }
  
  header nav .nav_right_section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
  }
  
  nav .nav_right_section a{
    margin-right: 10px;
    color: #000000;
  }
  
  nav .nav_right_section .menu_icon{
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
  }

  nav .nav_right_section .menu_icon:hover{
    cursor: pointer;
  }
  
  nav .nav_right_section img{
    border-radius: 50%;
    margin-left: 10px;
  }

  .link_for_hover:hover{
    text-decoration: underline;
  }

/* Estilos para el main */
  main{
    margin-top: 150px;
    text-align: center;
  }
  
  main .main_logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  
  #logo{
    width: 272px;
    height: 92px;
  }
  
  main .main_input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  
  main #input-search{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main .main_input input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
  }
  
  main #input-search:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
  }
  
  main .main_input .search_icon{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    margin-left: 20px;
  }
  
  main .main_input .micro_icon{
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-right: 20px;
  }

  main .main_input .micro_camera{
    background-image: url('https://www.pnguniverse.com/wp-content/uploads/2022/04/Google-Lens-vector-logo-84909be3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  main .btn-search{
    width: 530px;
    margin: 0 auto;
  }
  
  main .btn-search div {
    display: inline-block;
  }

  main .btn-search button{
    height: 36px;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
    border: 1px solid transparent;
  }

  main .btn-search button a{
    background-color: #f2f2f2;
    font-size: 14px;
    color: #5f6368;
  }
  
  main .btn-search button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    color: #222;
  }

  /* Estilos para el footer */
  footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
  }
  
  footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
  }
  
  footer .footer_left{
    justify-self: left;
  }
  
  footer .footer_rigth{
    justify-self: right;
  }
  
  footer ul li .footer-link{
    margin: 10px;
    color: #5f6368;
  }

  /* Responsive design para el footer */
  @media screen and (max-width:855px){
    footer{
      display:flex;
      height: auto;
      justify-content: space-between;
    }

    footer ul{
      flex-direction: column;
    }
  }